<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Brenner.SilentCmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0.30319"/>
  <supportedRuntime version="v2.0.50727"/>
</startup>
  <applicationSettings>
        <Brenner.SilentCmd.Properties.Settings>
              <setting name="DefaultBatchFilePath" serializeAs="String">
                    <value />
              </setting>
              <setting name="DefaultBatchFileArguments" serializeAs="String">
                    <value />
              </setting>
              <setting name="DefaultLogFilePath" serializeAs="String">
                    <value>%temp%\SilentCMD.log</value>
              </setting>
              <setting name="DefaultLogAppend" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DefaultDelay" serializeAs="String">
                    <value>00:00:00</value>
              </setting>
        </Brenner.SilentCmd.Properties.Settings>
    </applicationSettings>
</configuration>
